@import url("./variables.scss");

.logo {
  position: relative;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  user-select: none;

  .defaultText,
  .hoverText {
    display: inline-block;
  }

  .hoverText {
    display: none;
  }

  &:hover .defaultText {
    display: none;
  }

  &:hover .hoverText {
    display: inline-block;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;

  .links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .spotifyBtn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #1db954;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      &:hover {
        background-color: #147d43;
      }
    }

    .userProfilePic {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }

    .playlist-btn {
      cursor: pointer;
      user-select: none;
      position: relative;
      font-size: 1.2rem;

      &:hover {
        color: var(--hover-color);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--hover-color);
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform 0.3s ease;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}

.profileContainer {
  display: flex;
  padding: 5px 10px;
  border: 1px solid var(--secondary-color);
  gap: 3px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  align-items: center;
  .logoutTxt {
    cursor: pointer;
    user-select: none;
    position: relative;
    font-size: 1rem;
    padding: 0;
    margin: 0;

    z-index: 1;
  }
}
