@import url("./variables.scss");
.playlistBtn {
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 1.2rem;
  &:hover {
    color: var(--hover-color);
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--hover-color);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}

.hiddenBox {
  display: none;
  position: absolute;
  top: 130%;
  right: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow: hidden;
  animation: slide-up 1.2s ease-in;
  z-index: 3;
  text-align: center;
  margin-right: 160px;
}

.visible {
  display: block;
  animation: slide-down 1.1s ease forwards;
  height: auto;
}

@keyframes slide-down {
  from {
    max-height: 0;
  }
  to {
    max-height: 600px;
  }
}

@keyframes slide-up {
  from {
    max-height: 600;
  }
  to {
    max-height: 0;
  }
}

.playlist {
  margin-bottom: 2rem;
  width: 100%;
  .title {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .input {
    border-color: #e2e8f0;
    border-radius: 0.25rem;
    padding: 0.2rem;
    width: 90%;
  }
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
}

.actionBtns {
  display: flex;
  justify-content: space-between;
  .btn {
    background-color: white;
    color: black;
    align-self: flex-start;
    border-radius: 1rem;
    border: 1px solid black;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  .btn:hover {
    background-color: black;
    color: white;
    border-color: black;
  }
}

// Add media query for mobile
@media (max-width: 768px) {
  .hiddenBox {
    margin-right: 0;
  }
}
