#arrowUpDown {
  cursor: pointer;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  transition: opacity 0.3s, transform 0.3s;
}
#arrowUpDown:hover {
  opacity: 0.7;
  scale: (1.2);
}

#spotifyWrapper {
  position: relative;
  width: 100%;
  height: 420px;
  background-color: #333;
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide-embed {
  max-height: 2rem;
}

#spotifyPlaylist {
  flex: 100%;
}

.spotifyContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}
