@import url("./variables.scss");

.musicPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 16px;
}

.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;

  .songName {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  .artistName {
    margin-top: -10px;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--primary-color);
    opacity: 0.8;
  }
}

.progressContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  .next {
    color: var(--primary-color);
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .previous {
    color: var(--primary-color);
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .progressBar {
    width: 100%;
  }
}

.controlsContainer {
  display: grid;
  align-self: flex-end;
  align-items: flex-end;
  width: auto;
  grid-template-columns: repeat(2, 40px);
  grid-template-rows: repeat(2, auto);
  row-gap: 15px;

  cursor: pointer;

  .shuffle {
    grid-row: 1;
    grid-column: 1;
    opacity: 0.7;
    justify-self: center;
    color: var(--primary-color);
    &:hover {
      opacity: 1;
    }
  }
  .active {
    color: rgb(27, 187, 27);
  }
  .play {
    grid-row: 1;
    grid-column: 2;
    opacity: 0.9;
    transform: scale(1.2);
    color: var(--primary-color);
    &:hover {
      transform: scale(1.3);
      opacity: 1;
    }
  }
  .volumeContainer {
    grid-row: 2;
    grid-column: span 2;
    display: flex;
    gap: 5px;
    align-items: center;

    .volumeBar {
      width: 100%;
    }
  }
}

.imageContainer {
  max-width: 100%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  .albumCover {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
