@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400&display=swap");

:root {
  font-family: "Playpen Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  --toastify-color-info: black;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #1d1c1c;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  scrollbar-width: thin;
}

*,
**,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.Toastify__toast--info {
  font-family: "Playpen Sans";
}

.app-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.reader-container {
  flex: 1;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 3;
  overflow: hidden;
}

.loading-text {
  color: white;
  text-align: center;
}

/* Home */

/* styles.css */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;

  min-height: 100vh;
  gap: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.nav-links {
  position: relative;
}

.nav-links .playlist-btn {
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 1.2rem;

  &:hover {
    color: #333;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.hidden-box {
  display: none;
  position: absolute;
  top: 130%;
  right: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow: hidden;
  animation: slide-up 1.2s ease-in;
}

.visible {
  display: block;
  animation: slide-down 1.1s ease forwards;
  height: auto;
}

@keyframes slide-down {
  from {
    max-height: 0;
  }
  to {
    max-height: 600px;
  }
}

@keyframes slide-up {
  from {
    max-height: 600;
  }
  to {
    max-height: 0;
  }
}

.spotify-embed {
  padding: 0rem 1rem;
}
.logo {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.logo-reader {
  margin-top: -4rem;
}

.default-text,
.hover-text {
  display: inline-block;
}

.hover-text {
  display: none;
}

.logo:hover .default-text {
  display: none;
}

.logo:hover .hover-text {
  display: inline-block;
}

.logo::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.logo:hover::before {
  transform: scaleX(1);
}

input {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  width: 300px;
}

.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-page-header {
  font-size: 4rem;
  font-weight: 400;
  padding: 0rem 15vw;
  text-align: center;
  margin: 0 auto;
}

.upload {
  margin-top: 2rem;
}

.books {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 20px;
}

.book {
  border-radius: 5px;
  margin: 15px;
  flex: 1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.212);
  background-color: white;
  perspective: 1400px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.book:hover::before {
  transform: rotateY(-10deg);
}

.book.cover {
  display: block;
  width: 300px;
  transform-origin: 0% 50%;
  transition: all 0.8s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  /*   box-shadow: 15px 15px 20px rgba(0,0,0,.35); */
}

.book:hover {
  transform: rotateY(-15deg);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.book.open .cover {
  transform: rotateY(-180deg);
}

.book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(14, 13, 13, 0.699);
  color: white;
  line-height: 1;
}

.books-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  bottom: 0;
}

.books-header-title,
.upload-header-title {
  font-size: 24px;
  font-weight: 400;
}

.upload-button,
.revert-button {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  color: black;
  padding: 8px 16px; /* Adjust padding as needed */
  cursor: pointer;
  outline: none; /* Remove default button outline */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  align-self: flex-start;
}

.upload-button:hover,
.revert-button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.save-button {
  border: 1px solid white;
  border-radius: 1rem;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 8px 16px; /* Adjust padding as needed */
  cursor: pointer;
  outline: none; /* Remove default button outline */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  align-self: flex-start;
}

.save-button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: black; /* Adjust color as needed */
}

/* Spotify */
#arrowUpDown {
  cursor: pointer;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  transition: transform 0.5s;
}
#arrowUpDown:hover {
  scale: 1.1;
}

#spotifyWrapper {
  position: relative;
  width: 100%;
  height: 420px;
  background-color: #1d1d1d;
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide-embed {
  max-height: 2rem;
}

#spotifyPlaylist {
  flex: 100%;
}

.spotifyContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.epub-container {
  overflow-x: hidden !important;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

* {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

.playlist {
  margin-bottom: 2rem;
  width: 100%;
}

.playlist-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.playlist-input {
  border-color: #e2e8f0;
  border-radius: 0.25rem;
  padding: 0.2rem;
  width: 90%;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.action-button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 767px) {
  .book-list {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .home-page-header {
    margin-top: -2rem;
    padding: 1rem;
  }

  .books {
    padding: 0;
  }

  .home-page {
    padding: 0.5rem 0;
  }

  /* Add any other styles specific to phones */
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .book-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    margin: 0;
    padding: 2rem;
  }
  .home-page-header {
    padding: 10vw;
    margin-top: -2rem;
  }

  .home-page {
    gap: 2rem;
  }
}
